<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi {USER NAME}</h1>
    <p>
     This is welcome email.
    </p>
  </body>
</html>